REST_Lab/src/main/java/ie/gmit/models/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/NewXMLSchema" 
xmlns:tns="http://www.example.org/NewXMLSchema" 
elementFormDefault="qualified">


<element name="CustOrder">
		<complexType>
			<sequence>
				<element name="OrderID" type="int"></element>
				<element name="Date" type="date"></element>
				<element name="CarID" type="int"></element>
				<element name="CustID" type="int"></element>
			</sequence>
		</complexType>

	</element>





</schema>